* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: #000;
    text-decoration: none;
}

li {
    list-style: none;
}

p {
    text-indent: 2em;
}

.home {
    width: 100%;
}

.w {
    width: 1400px;
    margin: 0 auto;
}

.nav {
    width: 100%;
    height: 100px;
    line-height: 100px;
    background-color: rgb(184, 60, 60);
}

@keyframes move {
    25% {
      
        transform: translateY(-4px);
    }

    50%,
    100% {
        transform: translateY(0);
    }

    75% {
        transform: translateY(4px);
    }

}

.logo {
    float: left;
    margin-left: 10px;
	margin-top: 20px;
    width: 70px;
    animation: move 1.6s linear infinite;
}

.nav li {
    float: left;
    width: 18%;
    height: 100px;
    text-align: center;
}

.nav li a {
    font-size: 22px;
    color: #fff;
}

.nav li a:hover {
    font-weight: bold;
    color: orange;
}

.banner {
    width: 100%;
    height: 520px;
}

.banner img {
    display: block;
    width: 100%;
    height: 520px;
}

.content {
    width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
}

.content h1 {
    position: relative;
    margin-bottom: 15px;
    text-align: center;
    line-height: 60px;
    color: #9f3333;
}

.content h1::before {
    content: '';
    position: absolute;
    top: 28px;
    left: 400px;
    width: 100px;
    height: 3px;
    background-color: #9f3333;
}

.content h1::after {
    content: '';
    position: absolute;
    top: 28px;
    right: 400px;
    width: 100px;
    height: 3px;
    background-color: #9f3333;
}

.content p {
    line-height: 30px;
}

.content h3 {
    line-height: 50px;
    color: #9f3333;
}


.img_l {
    float: left;
    width: 400px;
    margin-right: 20px;
}

.img_r {
    float: right;
    width: 400px;
    margin-left: 20px;
}

.js {
    width: 100%;
    height: 660px;
    margin: 20px auto;
}

.js img {
    float: left;
    transition: all .5s;
}

.js img:hover {

    /* transform: translate(5px, -5px);:
    这个样式规则用于对元素进行平移变换。
    具体来说，translate(5px, -5px) 表示在水平方向上向右平移 5 像素，
    在垂直方向上向上平移 5 像素。
    这样的平移可以用来调整元素的位置，使其相对于原始位置发生偏移。 */

    transform: translate(5px, -5px);
    box-shadow: 5px -5px 5px 5px #ccc;
}

.j1 {
    width: 700px;
    margin-right: 20px;
}

.j2 {
    margin-top: 80px;
    width: 420px;
}

.p1 {
    height: 400px;
    margin-bottom: 20px;
}

.p2 img {
    width: 372px;
    height: 230px;
    margin-right: 20px;
}

.p2 img:last-child {
    margin-right: 0;
}

.footer {
    margin-top: 15px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    background-color: #9f3333;
}

.wh {
    width: 800px;
    margin: 0 auto;
}

.wh img {
    display: block;
    width: 420px;
    margin: 10px auto;
}

.tc {
    width: 100%;
    overflow: hidden;
}

.tc h3 {
    text-align: center;
}

.tc li {
    float: left;
    padding: 10px;
    margin-right: 15px;
    width: 180px;
    height: 380px;
    border-radius: 80px;
    border: 1px solid #ccc;
}

.tc li a {
    color: #9f3333;
}

.tc li:hover {
    color: #fff;
    cursor: pointer;
    background-color: #9f3333;
}

.tc li:hover h3,
.tc li:hover a {
    color: #fff;
}

.tc li:last-child {
    margin-right: 0;
}

.honor {
    overflow: hidden;
    width: 100%;
    margin: 20px auto;
}

.honor li {
    float: left;
    width: 50%;
    line-height: 40px;
    border-bottom: 1px dashed #ccc;
}

.honor li span {
    float: right;
    margin-right: 40px;
}

.honor li:hover {
    color: #9f3333;
    cursor: pointer;
}
/*默认样式，主要是position:fixed实现屏幕绝对定位*/
#gotoTop{display:none;position:fixed;top:75%;left:50%;cursor:pointer;margin-top:-50px;margin-left:520px;padding:9px 4px;width:20px;text-align:center;border:1px solid #e0e0e0;background:#fff;}
/*用CSS表达式(expression)来实现ie6下position:fixed效果*/
#gotoTop{_position:absolute;_top:expression(documentElement.scrollTop + documentElement.clientHeight * 3/4 + "px")}
/*鼠标进入的反馈效果*/
#gotoTop.hover{background:#5CB542;color:#fff;text-decoration:none;}