#china{
	position: absolute;
	backdrop-filter: blur(5px);
}

*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
}
.container #mainmap{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
img{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    width: 100vw;
    height: 100%;
    filter: blur(2px);
}
.active + img{
    transform: translateX(100%);
}
img.transition-start.right{
    animation: transition-right-start 0.65s linear forwards;
}
@keyframes transition-right-start {
    0%{
        width: 100vw;
        height: 100%;
        filter: blur(0px);
        transform: translateX(-50%);
    }
    3%{
        width: 300vw;
        height: 100%;
        filter: blur(3px);
        transform: translateX(-50%);
    }
    5%{
        width: 600vw;
        height: 100%;
        filter: blur(3px);
        transform: translateX(-50%);
    }
    95%{
        width: 6000vw;
        height: 100%;
        filter: blur(3px);
        transform: translateX(-100%);
    }
    100%{
        width: 100vw;
        height: 100%;
        filter: blur(0px);
        transform: translateX(-150%);
    }
}
img.transition-end.right{
    animation: transition-right-end 0.65s linear forwards;
}
@keyframes transition-right-end {
    0%{
        width: 100vw;
        height: 100%;
        filter: blur(0px);
        transform: translateX(100%);
    }
    3%{
        width: 300vw;
        height: 100%;
        filter: blur(3px);
        transform: translateX(100%);
    }
    5%{
        width: 600vw;
        height: 100%;
        filter: blur(3px);
        transform: translateX(100%);
    }
    95%{
        width: 6000vw;
        height: 100%;
        filter: blur(3px);
        transform: translateX(-50%);
    }
    100%{
        width: 100vw;
        height: 100%;
        filter: blur(0px);
        transform: translateX(-50%);
    }
}